

@mixin SFRegular($color, $size) {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size:  $size;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: $color;
}

@mixin border {
     border: 1px solid $line-light;
     border-radius: $radius;
}