@mixin SFRegular {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: $size-sm;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: $dop-text;
}

@mixin TTInterfaces($color, $size) {
    font-family: TT Interfaces, serif;
    font-style: normal;
    font-weight: 600;
    font-size: $size;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: $color;
}

@mixin border {
    border: 1px solid $line-light;
    border-radius: $radius;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($delay, $duration, $animation, $direction: forward, $fillmode: fowards) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
}
