/* color */

$white: #fff;
$bg-color: #fcfbff;
$bg-font-color: #fcfbff;
$accent_1: #0038ff;
$accent_2: #00ffb2;
$accent_3: #ff3939;
$dop-text: #15193f;
$dop-text_2: #848593;

$line-light: #e4e5ed;
$dop-2: #b2b7e2;
$dop-1: #848593;

/* style */
$size-xxl: 48px;
$size-xl: 36px;
$size-l: 28px;
$size-sl: 24px;
$size-m: 18px;
$size-sm: 16px;
$size-x: 14px;

$radius: 4px;

/* _BREAKPOINTS */

/* Large Devices, Wide Screens */
$screen-xxl: 1499px;

/* Large Devices, Wide Screens */
$screen-xl: 1219px;

/* Medium Devices, Desktops */
$screen-lg: 992px;

/* Small Devices, Tablets */
$screen-md: 719px;

/* Extra Small Devices, Phones */
$screen-sm: 320px;

/* Custom, iPhone Retina */
$screen-xs: 0;
