
/* FAQ-LIST__TITLE */
.faq-list__title {
    @include xs-md {
        font-size: $size-l;
        padding: 12px 0 26px;
    }


    padding-top: 40px;
    padding-bottom: 36px;
    max-width: 623px;
    font-family: "TT Interfaces", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: $dop-text;
    line-height: 0.9;

    & span {
        color: $accent_1;
    }
}

.faq-list__aside-menu {
    background-color: $white;
}
/* /FAQ-LIST__TITLE */

/* ASIDE-MENU__NAW */
.aside-menu__naw {
    @include xs-md {
        max-width: 100%;
    }

    max-width: 240px;
    margin-left: 20px;
    border: 1px solid $line-light;
    padding: 18px 19px 21px;
    background: $white;
    border-radius: $radius;
    text-decoration-color: $accent_1;

    & .aside-menu__naw-list {
        padding-bottom: 16px;
        width: 100%;

        &:last-child {
            padding-bottom: 0;
        }

        & .aside-menu__naw-link {
            font-family: "TT Interfaces", sans-serif;
            font-weight: 400;
            font-size: $size-m;
            line-height: 0.8;
            color: $dop-text;
            transition: all 0.1s;

            &:hover {
                font-weight: 600;
                text-decoration-color: $accent_1;
            }
        }
    }
}
/* /ASIDE-MENU__NAW */