body {
  font-family: "TT Interfaces", sans-serif;
  font-size: 18px;
}

//header__title
.header__title {
  line-height: 0.9em;
  margin-top: 40px;
  margin-bottom: 36px;
  font-size: 36px;
  font-weight: 600;
}

.header__title-frequently {
  color: #0038ff;
}

.container {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.5fr 1.5fr 0.25fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  margin-left: 20px;
}



/* Style the buttons that are used to open and close the accordion panel */
.main__accordions-button {
  border-radius: 4px;
  font-weight: 600;
  background-color: #ffffff;
  color: #15193f;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid #e4e5ed;
  outline: none;
  transition: 0.5s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.main__accordions-button:hover {
  background-color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  margin-top: 26px;
  margin-bottom: 20px;
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.main__accordions-button:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.sidebar__list {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e4e5ed;
  padding: 18px;
  display: grid;
  gap: 30px;
}
.sidebar__list-item {
  color: #15193F;
  font-size: 18px;
  font-weight: 500;
}

// Accordions
.main__accordions {
  display: grid;
  gap: 18px;
  margin-bottom: 40px;
}

//footer

.footer__container {
  display: grid;
  gap: 21px;
  background-color: #0038ff;
  padding: 26px;
}

.footer__container-title {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 36px;
}
.footer__container-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 240px);
}

.footer__container-item {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  justify-content: center;
  color: #15193f;
  background-color: #ffffff;
  margin-right: 14px;
  padding: 20px;
  border-radius: 4px;
  text-decoration: underline;
}

.footer__container-item-svg {
  margin-right: 9px;
}

a:active {
  text-decoration: underline;
}
