@font-face {
  font-family: "TT Interfaces";
  src: url("/fonts/ttinterface/TTInterfaces-SemiBold.eot");
  src: local("TT Interfaces SemiBold"), local("TTInterfaces-SemiBold"),
    url("/fonts/ttinterface/TTInterfaces-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ttinterface/TTInterfaces-SemiBold.eot.woff2") format("woff2"),
    url("/fonts/ttinterface/TTInterfaces-SemiBold.eot.woff") format("woff"),
    url("/fonts/ttinterface/TTInterfaces-SemiBold.eot.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'TT Interfaces' , sans-serif;
  font-size: 18px;
}

.container {
  border: 1px red solid;
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.5fr 1.5fr 0.25fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  
}

.sidebar {
  grid-area: sidebar;
  
}

.main {
  grid-area: main;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.sidebar__list {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #E4E5ED;
  padding: 18px;
  display: grid;
  gap: 30px;
}
