.boost {
    @include xs-md {
        margin-bottom: 0;
    }


    &_facelt {
        background-image: url(../img/service-hero/service-hero__bg-facelt.webp);
    }

    &_csgo {
        background-image: url(../img/service-hero/service-hero__bg-csgo.webp);
    }

    &_esea {
        background-image: url(../img/service-hero/service-hero__bg-esea.webp);
    }

    &_esportal {
        background-image: url(../img/service-hero/service-hero__bg-esportal.webp);
    }

    margin-bottom: -67px;
    background: $dop-text;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        @include lg-xl {
            flex-wrap: nowrap;
            padding-top: 40px;
        }


        @include md-lg {
            padding-top: 40px;
        }


        @include xs-md {
            padding-top: 20px;
        }


        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        min-height: 520px;
    }

    &__footer-block {
        @include xs-md {
            border-radius: 40px 40px 0 0;
        }


        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        background-color: #0f1231;
        height: 80px;
        border-radius: 100px 100px 0 0;
    }
}

.boost-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrapper {
        @include lg-xl {
            padding-bottom: 40px;

            &_csgo {
                max-width: 412px;
            }
        }


        @include md-lg {
            padding-bottom: 40px;
        }


        @include xs-md {
            max-width: 320px;
            padding-bottom: 20px;
        }


        &_esportal {
            max-width: 420px;
        }

        position: relative;
        max-width: 370px;
    }

    &__icon-img {
        @include xs-md {
            top: 0;
            right: 0;
        }


        @include md-lg {
            &_esea {
                right: -13px;
            }
        }


        @include lg-xl {
            &_esea {
                right: -13px;
            }

            &_esportal {
                top: -10px;
                right: -9px;
            }
        }


        &_esea {
            right: -13px;
        }

        position: absolute;
        top: -35px;
        right: -35px;
    }

    &__intro-title {
        @include TTInterfaces($white, $size-xxl);

        line-height: 86%;
        letter-spacing: -0.035em;
        margin-bottom: 16px;

        & > .boost-title__title_facelt {
            color: $accent_4;
        }

        & > .boost-title__title_csgo {
            color: $accent_5;
        }

        & > .boost-title__title_esea {
            color: $accent_6;
        }

        & > .boost-title__title_esportal {
            color: $accent_7;
        }
    }

    &__intro-subTitle {
        @include SFRegular($dop-2, $size-sm);

        color: $white;
    }
}
