.home-service {
    position: relative;
    z-index: 2;

    &__footer {
        @include xs-md {
            height: 100%;
            border-radius: 0;
        }


        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
        background-color: #0f1231;
        height: 102px;
        border-radius: 100px 100px 0 0;
    }
}
