.home-hero {
    &__wrapper {
        @include xs-lg {
            border-radius: 0 0 40px 40px;
        }


        background-color: $dop-text;
        border-radius: 0 0 100px 100px;
    }

    background: #0f1231;
}

.home-hero__header {
    @include xs-md {
        background-image: none;
    }


    @include md-lg {
        background-size: 48%;
    }


    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 330px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(../img/svg/home-hero/home-hero__tiitle.svg);
}
