.comment-list {
    margin-bottom: 34px;

    &__title {
        @include xs-md {
            max-width: 324px;
            padding: 22px 0 18px 15px;
        }


        max-width: 400px;
        padding: 40px 0 30px;
    }

    & .title {
        display: inline-block;
        position: relative;

        &__text {
            &_slide {
                @include xs-md {
                    font-size: 32px;
                }
            }

            @include TTInterfaces($dop-text, $size-xxl);

            line-height: 86%;

            & > span {
                color: #00b67a;
            }
        }

        &__arrow-trustpilot {
            @include xs-md {
                top: -18px;
                right: -28px;
                max-width: 24px;
                max-height: 33px;
            }


            position: absolute;
            top: -29px;
            right: -39px;
        }
    }
}
