.article-content {
    @include xs-md {
        margin-top: 0;
    }


    margin-top: 76px;

    &__button-back {
        display: flex;
        align-items: center;
        width: 100%;
        height: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
        border: none;
        cursor: pointer;
        font: inherit;
        color: inherit;
        background-color: transparent;
        text-decoration: none;

        &:active {
            text-decoration: none;
        }

        & > img {
            padding-right: 8px;
        }

        & > span {
            font-family: "TT Interfaces", serif;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 86%;
            letter-spacing: -0.035em;
            color: #15193f;
        }
    }
}

.article-content__intro {
    @include xs-md {
        background-image: url(../img/article__content/article-content__img-mobile.webp);
        background-position-x: right;
    }


    position: relative;
    width: 100%;
    min-height: 330px;
    border: 1px solid $line-light;
    border-width: 1px 1px 0 1px;
    border-radius: $radius $radius 0 0;
    background-image: url(../img/article__content/article-content__img.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.article-content__intro-wrapper {
    @include xs-md {
        margin-top: 0;
        bottom: 21px;
        left: 21px;
        max-width: 176px;
    }


    position: absolute;
    bottom: 39px;
    left: 32px;
    max-width: 305px;

    .article-content__intro-overTitle {
        @include SFRegular($dop-2, $size-x);

        margin-bottom: 5px;
        color: $dop-2;
    }

    .article-content__intro-title {
        @include xs-md {
            font-size: $size-l;
        }


        @include TTInterfaces($white, $size-xl);

        line-height: 86%;
        letter-spacing: -0.035em;
    }
}

.article {
    @include xs-md {
        margin: 0;
        border: none;
        border-radius: 0;
        padding: 0 0 26px 0;
    }


    &_border-none {
        border: none;
    }

    @include border;

    border-width: 0 1px 1px 1px;
    margin-bottom: 80px;
    padding: 0 27px 30px 32px;
    background-color: $white;

    .article__heading {
        @include xs-md {
            padding: 15px 0 15px;
        }


        &_intro {
            font-size: $size-xl;
        }

        @include TTInterfaces($dop-text, $size-sl);

        padding: 20px 0 20px;
        line-height: 86%;
        letter-spacing: -0.035em;
    }

    .article__paragraph {
        @include SFRegular($dop-text, $size-sm);
    }
}
