.comment-list-small {
    .slider {
        position: relative;

        //overflow: hidden;
        margin-left: auto;
        margin-right: auto;

        &__wrapper {
            @include xs-md {
                display: flex;
                flex-direction: column;

                &_none-overflow {
                    overflow: hidden;
                }
            }


            @include md-lg {
                &_none-overflow {
                    overflow: hidden;
                }
            }


            position: relative;
            overflow: hidden;

            &_none-overflow {
                overflow: inherit;
            }
        }

        &__bottom {
            @include xs-md {
                display: flex;
                justify-content: center;
                margin-top: 14px;
            }


            @include md-xl {
                display: flex;
                justify-content: center;
                margin-top: 14px;
            }
        }

        &__items {
            &_full-page {
                & > .slider__item {
                    @include xs-lg {
                        transform: none;
                    }


                    padding: 0 12px;
                    transform: translateX(-399px);
                }
            }

            display: flex;
        }

        &__item {
            @include xs-md {
                flex: 0 0 100%;
            }


            @include md-lg {
                flex: 0 0 50%;
            }


            @include lg-xl {
                flex: 0 0 50%;
            }


            background-color: $white;
            flex: 0 0 33.3%;
            position: relative;
            max-width: 100%;

            &.active {
                @include keyframes(fade) {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }


                animation: fade 0.7s;
            }
        }

        &__control {
            @include xs-md {
                position: relative;
                margin: 2px;
                transform: none;
            }


            @include md-xl {
                position: relative;
                margin: 2px;
                transform: none;
            }


            @include border;

            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            width: 40px;
            height: 50px;
            transform: translateY(-50%);
            color: #fff;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0.5;
            cursor: pointer;
            user-select: none;

            &_translateY-382 {
                transform: translateY(-382%);
            }
        }

        &__control_prev {
            @include xl {
                left: -50px;

                &_right-50 {
                    right: 50px;
                    left: auto;
                }
            }
        }

        &__control_next {
            @include xl {
                right: -50px;

                &_right-0 {
                    right: 0;
                }
            }
        }
    }
}
