/* FAQ-LIST__WRAPPER */
.faq-list__wrapper {
    @include xs-md {
        flex-wrap: wrap;
        padding-bottom: 12px;
    }


    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
}

/* /FAQ-LIST__WRAPPER */

/* FAQ-LIST__TITLE */
.faq-list__title {
    @include xs-md {
        padding: 12px 0 26px;
    }


    padding-top: 40px;
    padding-bottom: 36px;
    max-width: 623px;
    font-family: "TT Interfaces", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: $dop-text;
    line-height: 0.9;

    & span {
        color: $accent_1;
    }
}

.ask__item-content {
    font-size: $size-sm;
    font-weight: 400;
    text-align: left;
    line-height: 1.5em;
    font-family: "TT Interfaces", sans-serif;
}

.faq-list__aside-menu {
    @include xs-md {
        width: 100%;
        margin-right: 0;
    }


    background-color: $white;
    margin-right: 20px;
}

/* /FAQ-LIST__TITLE */

/* ASIDE-MENU__NAW */
.aside-menu__naw {
    @include xs-md {
        max-width: 100%;
    }


    min-width: 240px;
    max-width: 240px;
    border: 1px solid $line-light;
    padding: 18px 19px 21px;
    background: $white;
    border-radius: $radius;
    text-decoration-color: $accent_1;

    & .aside-menu__naw-list {
        padding-bottom: 8px;
        width: 100%;

        &:last-child {
            padding-bottom: 0;
        }

        & .aside-menu__naw-link {
            font-family: "TT Interfaces", sans-serif;
            font-weight: 400;
            font-size: $size-m;
            line-height: 0.8;
            color: $dop-text;
            transition: all 0.1s;
            text-decoration: none;
        }

        & .active-link {
            text-decoration: underline;
            font-weight: 600;
            text-decoration-color: $accent_1;
        }
    }
}

/* /ASIDE-MENU__NAW */

/* FAQ-LIST__ASK */

.faq-list__ask {
    @include xs-md {
        padding-top: 12px;
    }


    flex-shrink: 1;

    .ask__item {
        @include xs-md {
            margin-bottom: 12px;
        }


        min-width: 290px;
        margin-bottom: 18px;
        border: 1px solid $line-light;
        border-radius: $radius;

        .ask__item-button {
            @include xs-md {
                padding: 14px 14px 14px 14px;
            }


            position: relative;
            width: 98%;
            margin: 1px;
            border: none;
            padding: 19px 18px 19px 24px;
            cursor: pointer;
            font-size: $size-m;
            font-weight: 600;
            text-align: left;
            line-height: 0.9;
            letter-spacing: -0.035em;
            font-family: "TT Interfaces", sans-serif;
            background-color: $white;

            &::after,
            &::before {
                content: "";
                position: absolute;
                margin-top: 2px;
                right: 17px;
                width: 2px;
                height: 15px;
                background-color: $dop-text;
                vertical-align: -50%;
                transition: transform 0.5s ease-in-out;
            }

            &:after {
                transform: rotate(-90deg);
            }

            &:before {
                transform: rotate(180deg);
            }
        }

        .active:after {
            transform: rotate(45deg);
        }

        .active:before {
            transform: rotate(-45deg);
        }
    }

    .ask__item-panel {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        & p {
            padding: 0 18px 15px 24px;
        }
    }
}
