.container {
    max-width: 1220px;
    margin: 0 auto;

    &_non-p-m {
        padding: 0;
    }
}

.active-link {
    transition: opacity 0.7s;

    &:hover {
        opacity: 1;
    }
}

.transformAnim {
    transition: .2s  all ease-in-out;
}
